{

	"host": "http://test.etzelserver.com/",
	"baseLocation": "/home/silva/test/autoscaler-server",
    "configLocation": "/home/silva/test/autoscaler-server/data/config",
    "repoLocation": "/home/silva/test/autoscaler-server/data/repo",
    "tarLocation": "/home/silva/test/autoscaler-server/data/tars",
    "repoHashLocation": "/home/silva/test/autoscaler-server/data/hash",
    "secret": "sfsd97df7sd89fsdf87s9df87ds8",
    "sampleSize": 5,
    "pass": "dc0ce5efcf6b7585367c6f743345994d471fe530b4e86890912fc9a00f773a1a",
    "salt": "qazw"

}
