{

	"host": "http://localhost:4567/",
	"baseLocation": "/home/silva/test/autoscaler-server",
    "configLocation": "/home/silva/test/autoscaler-server/data/config",
    "repoLocation": "/home/silva/test/autoscaler-server/data/repo",
    "tarLocation": "/home/silva/test/autoscaler-server/data/tars",
    "repoHashLocation": "/home/silva/test/autoscaler-server/data/hash",
    "secret": "sfsd97df7sd89fsdf87s9df87ds8",
    "sampleSize": 5

}
